#!/bin/sh

make lint
EXIT_CODE="$?"

if [ ${EXIT_CODE} -ne 0 ]; then
    echo '\n\033[31m-> error: failed to do coding style lint, please check errors above or execute: \n->  make format\n-> to reformat files\033[0m' >&2
fi
exit ${EXIT_CODE}
